{% extends 'base.html.twig' %}

{% block title %}SinexOverFlow{% endblock %}

{% block body %}

    <div class="jumbotron" >
        <h1 class="display-4">Bienvenue sur SinexOverFlow !</h1>
        <p class="lead">Vôtre forum questions-réponses juste à temps !</p>
        <p class="lead">
            <a ype="button" class="btn btn-primary" href="Voir toutes les questions-réponses" role="button">Voir toutes les questions-réponses</a>
        </p>
    </div>
{% endblock %}
