{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <br> <br> <br>
    <div class="card">
        <h3 style="text-align: center">{{ question.titles }}</h3>
        <p>{{ question.content }}</p>
    </div>
    <div class="px-4 pt-3">
        <button type="button" class="btn btn-secondary"><i class="ion ion-md-create"></i>&nbsp;
            Reply
        </button>
    </div>
    <h3>{{ question.answers|length }} Réponse(s)</h3>

{% endblock %}
