
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <h1 class="d-flex justify-content-center align-items-start mt-5 ">Mon compte</h1>
    <div><img style="width:10% ; top: 55%; margin-left: 1%; border-radius: 10px"
              src="{{ asset('uploads/' ~ user.picture ) }}"></div>

    <dt class="col-3">Nom d'utilisateur:</dt>
    <dd class="col-9">{{ user.firstname }}</dd>
    <dt class="col-3">Adresse e-mail:</dt>
    <dd class="col-9">{{ user.email }}</dd>

    <p>
        <a href="c" class="btn btn-sm btn-secondary">Modifier mon profil</a>
        <a href="{{ path('app_update_password',{'id': user.id}) }}" class=" btn btn-sm btn-secondary">Modifier mon mot
            de passe</a>
    </p>

    <hr>


    <hr>
    <h2>Mes réponses aux questions</h2>

    <div class="question-container">


    </div>

{% endblock %}
